{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div id="container">
        <h1>Blogpost</h1>

        <table>
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ blogPost.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ blogPost.title }}</td>
                </tr>
                <tr>
                    <th>Body</th>
                    <td>{{ blogPost.body }}</td>
                </tr>
                <tr>
                    <th>Publicationdate</th>
                    <td>{% if blogPost.publicationDate %}{{ blogPost.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('blog_index') }}">
                    <button class="btn btn-outline-primary">Back to the list</button>
                </a>
            </li>
        </ul>

        <h3>Post a comment</h3>
        {{ form_start(comment_form) }}

        {{ form_end(comment_form) }}

        <h3>Comments</h3>
        <table class="table-bordered table-default">
            {% for comment in comments %}
                <tr>
                    <td colspan="2">{{ comment.comment }}</td>
                </tr>
                <tr>
                    <td id="comment-small">{{ comment.name }}</td>
                    <td id="comment-small">{{ comment.publicationDate | date('d-m-Y H:i') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
